.wrap5{

    width:100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background: url(imagenes/colorfondo.png);
    background-size: cover;
    font-family: 'Rancho', cursive;
    font-size: 0.7cm;
    text-align: justify;
    border-top: 6px;
    
    
    }
    
    h1{
    
        position:initial;
    }
    