*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
 

/*lo que esta en navegador*/
nav{


    background: rgba(103, 189, 192, 0.432);
    height: 120px;
    width: 100%;

}
 /*el punto señala las clases*/
.enlace{
    position:absolute;
    padding: 10px 50px;


}

.logo{

    height: 100px;

}

nav ul{
float:right;
margin: right 20px; ;

}

nav ul li{
    display:inline-block;
    line-height: 120px;
    margin: 0 5px
}




nav ul li a{

    color: #285f77ac;
    font-size: 20px;
    font-style:oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size-adjust: initial;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
 



li a.active, li a:hover{

    background: rgb(25, 116, 220) ;
    transition: .5s;

}

/*para boton tres lineas*/
.checkbtn{

    font-size: 15px;
    color: rgb(45, 30, 143);
    float: right;
    line-height: 40px;
    cursor: pointer;
    display: none;

}


/*iconos*/
.social-media-icon{
    font-size: 30px;
    display:contents;
    color:rgb(11, 113, 147)
    
    
   

}

#Inicio{

    display: list-item;
}

#check{

    display:none;
}

/*fondo de pantalla completa esta section en index*/
section{

    background: url(fondo3.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 40px);
}

@media(max-width: 952px){
.enlace{
    padding-left: 20px;
}
nav ul li a {

    font-size: 16px;
  }

}

@media(max-width: 858px){
.checkbtn{

    display:block;

}
  ul{

    position: fixed;
    width: 100%;
    height: 100vh;
    background-position: #2c2c2c;
    top: 80px;
    left:100%;
    text-align: center;
    transition: all.5s;
  }

nav ul li{

    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav ul li a{

    font-size: 20px;
    
}

li a:hover,li a.active{

background: none;
color:rgba(0, 255, 195, 0.479)
   }

   #check:checked ~ ul{

    left: 0;
   }


   /*fuente*/
/*el tipo de fuente de  la letra del cuerpo*/
body{

    font-family: 'Patrick Hand', cursive;
}


}